/* CCSTheme v 3.x */
/* General */

/* Colors */
.PageBgColorMagnetic {
	background-color: #aec35d;
	}

.FormTitleBgColorMagnetic {
	background-color: #d3661e;
	}

.FormTitleFontColorMagnetic {
	color: #ffffff;
	}

.CaptionBgColorMagnetic {
	background-color: #c9cb79;
	}

.CaptionFontColorMagnetic {
	color: #66752b;
	}

.DataBgColorMagnetic {
	background-color: #eef1e2;
	}

.AltDataBgColorMagnetic {
	background-color: #e6eacc;
	}

.DataFontColorMagnetic {
	color: #4e5920;
	}

.LinkColorMagnetic {
	color: #0026d6;
	}

.VisitedLinkColorMagnetic {
	color: #5151ff;
	}

.HoverLinkColorMagnetic {
	color: #ff0080;
	}

.ColorBgButtonMagnetic {
	background-color: #d3661e;
}

.ColorFontButtonMagnetic {
	color: #ffffff;
}

.ColorBgButtonPassiveMagnetic {
	background-color: #ffb07c;
}

.ColorFontButtonPassiveMagnetic {
	color: #ffffff;
}



.HeaderMagnetic {
	width: 100%;
	}

.HeaderMagnetic th { 
	font-family: Arial; font-size: 90%; text-align: left;
	padding: 4px;
	background-image: url('Images/HeaderBg.gif'); color: #ffffff;
	width: 100%;
	white-space: nowrap;
	
	}


html>body .HeaderMagnetic th {
	font-family: Arial; font-size: 130%; text-align: left;
}


/*ie6*/
* html body .HeaderMagnetic th {
	font-family: Arial; font-size: 130%; text-align: left;
}
/*end*/

.HeaderMagnetic a:link { 
	color: #ffffff;
	}

.HeaderMagnetic a:visited { 
	color: #ffffff;
	}

.HeaderMagnetic a:hover, .CaptionMagnetic a:active { 
	color: #ffffff; text-decoration: none;
	}

.HeaderLeftMagnetic { 
	background-image: url('Images/HeaderLeft.gif');
	}

.HeaderRightMagnetic { 
	background-image: url('Images/HeaderRight.gif');
	background-position: right top;
	}

.HeaderLeftMagnetic img{
	width: 21px; height: 18px;
	}

.HeaderRightMagnetic img{
	width: 21px; height: 18px;
	}


/* Grid Options */
.GridMagnetic { 
	border: solid 2px #c9cb79; border-bottom: 0px;
	width: 100%;
	}

.CaptionMagnetic th { 
	font-family: Arial; font-size: 70%; text-align: left; vertical-align: top;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	background-image: url('Images/CaptionBg.gif'); color: #66752b;
	white-space: nowrap;
	}

.CaptionMagnetic td { 
	font-family: Arial; font-size: 70%; text-align: left; vertical-align: top;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	background-image: url('Images/CaptionBg.gif'); color: #66752b;
	white-space: nowrap;
	}


html>body .CaptionMagnetic th, html>body .CaptionMagnetic td {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}


/*ie6*/
* html body .CaptionMagnetic th, * html body .CaptionMagnetic td {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}
/*end*/

.CaptionMagnetic a:link { 
	color: #66752b;
	}

.CaptionMagnetic a:visited { 
	color: #66752b;
	}

.CaptionMagnetic a:hover, .CaptionMagnetic a:active { 
	color: #ff0080;
	}

.CaptionMagnetic img {
	margin: 2px; 
	vertical-align: middle;
	}

.CaptionMagnetic input {
	vertical-align: middle;
	}

.RowMagnetic th { 
	font-family: Arial; font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	background-color: #eef1e2; color: #4e5920;
	white-space: nowrap;
	color: #4e5920;
	}

.RowMagnetic td { 
	font-family: Arial; font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	text-align: left;
	vertical-align: top;
	background-color: #eef1e2; 
	color: #4e5920;
	}
	

html>body .RowMagnetic th, html>body .RowMagnetic td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .RowMagnetic th, * html body .RowMagnetic td {
	font-family: Arial; font-size: 100%;
}
/*end*/

caption.RowMagnetic { 
	font-family: Arial; font-size: 70%;
	padding: 4px;
	border: solid 2px #c9cb79; border-bottom: 0px;
	text-align: left;
	vertical-align: top;
	background-color: #eef1e2; 
	color: #4e5920;
	}


html>body caption.RowMagnetic {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body caption.RowMagnetic {
	font-family: Arial; font-size: 100%;
}
/*end*/

.RowMagnetic a:link { 
	color: #0026d6;
	}

.RowMagnetic a:visited { 
	color: #5151ff;
	}

.RowMagnetic a:hover, .RowMagnetic a:active { 
	color: #ff0080;
	}

.SeparatorMagnetic{
	color: #d3661e;
	}

.SeparatorMagnetic td{
	height: 1px;
	}


.AltRowMagnetic th { 
	font-family: Arial; font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	background-color: #eef1e2; color: #4e5920;
	white-space: nowrap;
	color: #4e5920;
	}

.AltRowMagnetic td { 
	font-family: Arial; font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	text-align: left;
	vertical-align: top;
	background-color: #e6eacc; 
	color: #4e5920;
	}


html>body .AltRowMagnetic th, html>body .AltRowMagnetic td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .AltRowMagnetic th, * html body .AltRowMagnetic td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.AltRowMagnetic a:link { 
	color: #0026d6;
	}

.AltRowMagnetic a:visited { 
	color: #5151ff;
	}

.AltRowMagnetic a:hover, .AltRowMagnetic a:active { 
	color: #ff0080;
	}

.NoRecordsMagnetic td { 
	font-family: Arial; font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	text-align: left;
	background-color: #eef1e2; 
	color: #4e5920;
	vertical-align: top;
	}

.FooterMagnetic td { 
	font-family: Arial; font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	background-image: url('Images/CaptionBg.gif'); color: #66752b;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #4e5920;
	}


html>body .NoRecordsMagnetic td, html>body .FooterMagnetic td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .NoRecordsMagnetic td, * html body .FooterMagnetic td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.FooterMagnetic a:link { 
	color: #0026d6;
	}

.FooterMagnetic a:visited { 
	color: #5151ff;
	}

.FooterMagnetic a:hover, .FooterMagnetic a:active { 
	color: #ff0080;
	}

.FooterMagnetic img {
	margin: 2px; 
	vertical-align: middle;
	}

.FooterMagnetic input {
	margin: 2px;
	vertical-align: middle;
	}

/* Record Options */
.RecordMagnetic { 
	border: solid 2px #c9cb79; border-bottom: 0px;
	width: 100%;
	}

.ErrorMagnetic td { 
	font-family: Arial; font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	text-align: left;
	color: #FF0000;
	vertical-align: top;
	background-color: #eef1e2; 
	}


* html>body .ErrorMagnetic td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .ErrorMagnetic td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.ControlsMagnetic th { 
	font-family: Arial; font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	background-color: #eef1e2; color: #4e5920;
	white-space: nowrap;
	color: #4e5920;
	}

.ControlsMagnetic td { 
	font-family: Arial; font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	text-align: left;
	vertical-align: top;
	background-color: #eef1e2; 
	color: #4e5920;
	}
	
.BottomMagnetic td { 
	font-family: Arial; font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	background-image: url('Images/CaptionBg.gif'); color: #66752b;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
	color: #4e5920;
	}


html>body .ControlsMagnetic th, html>body .ControlsMagnetic td, html>body .BottomMagnetic td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .ControlsMagnetic th, * html body .ControlsMagnetic td, * html body .BottomMagnetic td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.BottomMagnetic a:link { 
	color: #0026d6;
	}

.BottomMagnetic a:visited { 
	color: #5151ff;
	}

.BottomMagnetic a:hover, .CaptionMagnetic a:active { 
	color: #ff0080;
	}

.BottomMagnetic img {
	margin: 2px;
	vertical-align: middle; 
	}

.BottomMagnetic input {
	margin: 2px;
	vertical-align: middle;
	}

/* Report */
.GroupCaptionMagnetic th{
	font-family: Arial; font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #e6eacc; 
	color: #4e5920;
	}

.GroupCaptionMagnetic td{
	font-family: Arial; font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #eef1e2; 
	color: #4e5920;
	}


html>body .GroupCaptionMagnetic th, html>body .GroupCaptionMagnetic td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .GroupCaptionMagnetic th, * html body .GroupCaptionMagnetic td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.GroupCaptionMagnetic a:link {
	color: #66752b;
	}

.GroupCaptionMagnetic a:visited{
	color: #66752b;
	}

.GroupCaptionMagnetic a:hover, .GroupCaptionMagnetic a:active{
	color: #ff0080;
	}

.GroupFooterMagnetic td{
	font-family: Arial; font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #c9cb79; 
	color: #4e5920;
	}


html>body .GroupFooterMagnetic td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .GroupFooterMagnetic td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.GroupFooterMagnetic a:link {
	color: #0026d6;
	}

.GroupFooterMagnetic a:visited{
	color: #5151ff;
	}

.GroupFooterMagnetic a:hover, .GroupFooterMagnetic a:active{
	color: #ff0080;
	}

.GroupFooterMagnetic img {
	margin: 2px; 
	vertical-align: middle;
	}

.GroupFooterMagnetic input {
	margin: 2px;
	vertical-align: middle;
	}

.SubTotalMagnetic td{
	font-family: Arial; font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #e6eacc; 
	color: #4e5920;
	border-bottom: 2px solid #d3661e;
	}


html>body .SubTotalMagnetic td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .SubTotalMagnetic td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.SubTotalMagnetic a:link {
	color: #0026d6;
	}

.SubTotalMagnetic a:visited{
	color: #5151ff;
	}

.SubTotalMagnetic a:hover, .SubTotalMagnetic a:active{
	color: #ff0080;
	}

.TotalMagnetic td{
	font-family: Arial; font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
	background-color: #e6eacc; 
	color: #4e5920;
	}


html>body .TotalMagnetic td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .TotalMagnetic td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.TotalMagnetic a:link {
	color: #0026d6;
	}

.TotalMagnetic a:visited{
	color: #5151ff;
	}

.TotalMagnetic a:hover, .TotalMagnetic a:active{
	color: #ff0080;
	}

/* Form Options */
.ButtonMagnetic { 
	background-color: #d3661e; color: #ffffff; border-left: solid 1px #EDEDED; border-top: solid 1px #EDEDED; border-right: solid 1px #848284; border-bottom: solid 1px #848284; padding: 2px; font-weight: bold; font-family: Tahoma; font-size: 10px; font-weight: bold;
	}

/* Calendar */

.CalendarMagnetic { 
	border: solid 2px #c9cb79;
	width: 100%;
	}

.CalendarWeekdayNameMagnetic{
	font-family: Arial; font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	text-align: center; 
	vertical-align: top;
	white-space: nowrap;
	background-color: #e6eacc; 
	color: #4e5920;
	font-weight: normal;
	}


html>body .CalendarWeekdayNameMagnetic {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekdayNameMagnetic {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekdayNameMagnetic a:link {
	color: #0026d6;
	}

.CalendarWeekdayNameMagnetic a:visited{
	color: #5151ff;
	}

.CalendarWeekdayNameMagnetic a:hover, .CalendarWeekdayNameMagnetic a:active{
	color: #ff0080;
	}

.CalendarWeekendNameMagnetic{
	font-family: Arial; font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	white-space: nowrap;
	text-align: center; 
	vertical-align: top;
	background-color: #e6eacc;	
	color: #4e5920;
	font-weight: normal;
	}


html>body .CalendarWeekendNameMagnetic {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekendNameMagnetic {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekendNameMagnetic a:link {
	color: #66752b;
	}

.CalendarWeekendNameMagnetic a:visited{
	color: #66752b;
	}

.CalendarWeekendNameMagnetic a:link, .CalendarWeekendNameMagnetic a:visited{
	color: #ff0080;
	}

/* Calendar Day */
.CalendarDayMagnetic{
	font-family: Arial; font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	text-align: center;
	background-color: #eef1e2;	
	color: #4e5920;
	}


html>body .CalendarDayMagnetic {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarDayMagnetic {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarDayMagnetic a:link {
	color: #0026d6;
	}

.CalendarDayMagnetic a:visited{
	color: #5151ff;
	}

.CalendarDayMagnetic a:hover, .CalendarDayMagnetic a:active{
	color: #ff0080;
	}

/* Calendar Weekend */
.CalendarWeekendMagnetic{
	font-family: Arial; font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	text-align: center;
	background-color: #e6eacc;	
	color: #4e5920;
	}


html>body .CalendarWeekendMagnetic {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekendMagnetic {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekendMagnetic a:link {
	color: #0026d6;
	}

.CalendarWeekendMagnetic a:visited{
	color: #5151ff;
	}

.CalendarWeekendMagnetic a:hover, .CalendarWeekendMagnetic a:active{
	color: #ff0080;
	}

/* Calendar Today */
.CalendarTodayMagnetic {
	font-family: Arial; font-size: 70%;
	padding: 2px;
	border: 3px solid #c9cb79; border-top: 1px solid #c9cb79;
	text-align: center;
	background-color: #eef1e2;	
	color: #4e5920;
	}


html>body .CalendarTodayMagnetic {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarTodayMagnetic {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarTodayMagnetic a:link {
	color: #0026d6;
	}

.CalendarTodayMagnetic a:visited{
	color: #5151ff;
	}

.CalendarTodayMagnetic a:hover, .CalendarTodayMagnetic a:active {
	color: #ff0080;
	}

/* Calendar Weekend Today */
.CalendarWeekendTodayMagnetic {
	font-family: Arial; font-size: 70%;
	padding: 2px;
	border: 3px solid #c9cb79; border-top: 1px solid #c9cb79;
	text-align: center;
	background-color: #e6eacc;	
	color: #4e5920;
	}


html>body .CalendarWeekendTodayMagnetic {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekendTodayMagnetic {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekendTodayMagnetic a:link {
	color: #0026d6;
	}

.CalendarWeekendTodayMagnetic a:visited{
	color: #5151ff;
	}

.CalendarWeekendTodayMagnetic a:hover, .CalendarWeekendTodayMagnetic a:active{
	color: #ff0080;
	}

/* Calendar Other Month's Day */
.CalendarOtherMonthDayMagnetic{
	font-family: Arial; font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	text-align: center;
	background-color: #eef1e2;	
	color: #d3661e;
	}


html>body .CalendarOtherMonthDayMagnetic {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthDayMagnetic {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthDayMagnetic a:link {
	color: #d3661e;
	}

.CalendarOtherMonthDayMagnetic a:visited{
	color: #d3661e;
	}

.CalendarOtherMonthDayMagnetic a:hover, .CalendarOtherMonthDayMagnetic a:active{
	color: #ff0080;
	}

/* Calendar Other Month's Today */
.CalendarOtherMonthTodayMagnetic {
	font-family: Arial; font-size: 70%;
	padding: 2px;
	border: 3px solid #c9cb79; border-top: 1px solid #c9cb79;
	text-align: center;
	background-color: #eef1e2;	
	color: #d3661e;
	}


html>body .CalendarOtherMonthTodayMagnetic {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthTodayMagnetic {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthTodayMagnetic a:link {
	color: #d3661e;
	}

.CalendarOtherMonthTodayMagnetic a:visited{
	color: #d3661e;
	}

.CalendarOtherMonthTodayMagnetic a:hover, .CalendarOtherMonthTodayMagnetic a:active{
	color: #ff0080;
	}

/* Calendar Other Month's Weekend */
.CalendarOtherMonthWeekendMagnetic {
	font-family: Arial; font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	text-align: center;
	background-color: #e6eacc;	
	color: #d3661e;
	}


html>body .CalendarOtherMonthWeekendMagnetic {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthWeekendMagnetic {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthWeekendMagnetic a:link {
	color: #d3661e;
	}

.CalendarOtherMonthWeekendMagnetic a:visited{
	color: #d3661e;
	}

.CalendarOtherMonthWeekendMagnetic a:hover, .CalendarOtherMonthWeekendMagnetic a:active{
	color: #ff0080;
	}

/* Calendar Other Month's Weekend Today */
.CalendarOtherMonthWeekendTodayMagnetic {
	font-family: Arial; font-size: 70%;
	padding: 2px;
	border: 3px solid #c9cb79; border-top: 1px solid #c9cb79;
	text-align: center;
	color: #d3661e;
	background-color: #e6eacc;	
	}
	

html>body .CalendarOtherMonthWeekendTodayMagnetic {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthWeekendTodayMagnetic {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthWeekendTodayMagnetic a:link {
	color: #d3661e;
	}

.CalendarOtherMonthWeekendTodayMagnetic a:visited{
	color: #d3661e;
	}

.CalendarOtherMonthWeekendTodayMagnetic a:hover, .CalendarOtherMonthWeekendTodayMagnetic a:active{
	color: #ff0080;
	}

/* Calendar Selected Day (for DatePicker) */
.CalendarSelectedDayMagnetic{
	font-family: Arial; font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	background-color: #c9cb79;
	color: #66752b;
	text-align: center;
	font-weight: bold;
	}
	

html>body .CalendarSelectedDayMagnetic {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarSelectedDayMagnetic {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarSelectedDayMagnetic a:link {
	color: #66752b;
	}

.CalendarSelectedDayMagnetic a:visited{
	color: #66752b;
	}

.CalendarSelectedDayMagnetic a:hover, .CalendarSelectedDayMagnetic a:active{
	color: #ff0080;
	}

/* Calendar Navigator */
.CalendarNavigatorMagnetic {
	font-family: Arial; font-size: 70%;
	padding: 4px;
	background-image: url('Images/CaptionBg.gif'); color: #66752b;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #4e5920;
	}


html>body .CalendarNavigatorMagnetic {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarNavigatorMagnetic {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarNavigatorMagnetic a:link {
	color: #0026d6;
	}

.CalendarNavigatorMagnetic a:visited{
	color: #5151ff;
	}

.CalendarNavigatorMagnetic a:hover, .CalendarNavigatorMagnetic a:active{
	color: #ff0080;
	}

.CalendarNavigatorMagnetic img{
	margin: 2px;
	vertical-align: middle; 	
	}

.CalendarNavigatorMagnetic td {
	font-family: Arial; font-size: 70%;
	}

.CalendarNavigatorMagnetic th {
	font-family: Arial; font-size: 70%;
	}


html>body .CalendarNavigatorMagnetic th, html>body .CalendarNavigatorMagnetic td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarNavigatorMagnetic th, * html body .CalendarNavigatorMagnetic td {
	font-family: Arial; font-size: 100%;
}
/*end*/

/* Calendar Extra */
.CalendarEventMagnetic{
	font-family: Arial; font-size: 70%;
	text-align: left;
	}


html>body .CalendarEventMagnetic {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarEventMagnetic {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarEventMagnetic a:link {
	color: #0026d6;
	}

.CalendarEventMagnetic a:visited{
	color: #5151ff;
	}

.CalendarEventMagnetic a:hover, .CalendarEventMagnetic a:active{
	color: #ff0080;
	}

/* Changes for Section508 */
table tr td strong {
	padding: 0px;
	margin: 0px;
}

.thMagnetic { 
	font-family: Arial; font-size: 70%;
	font-weight: bold;
}


html>body .thMagnetic {
	font-size: 100%;
}


/*ie6*/
* html body .thMagnetic {
	font-size: 100%;
}
/*end*/

.HeaderMagnetic .thMagnetic { 
	font-family: Arial; font-size: 90%; text-align: left;
	padding: 4px;
	background-image: url('Images/HeaderBg.gif'); color: #ffffff;
	width: 100%;
	white-space: nowrap;
}


html>body .HeaderMagnetic .thMagnetic {
	font-family: Arial; font-size: 130%; text-align: left;
}


/*ie6*/
* html body .HeaderMagnetic .thMagnetic {
	font-family: Arial; font-size: 130%; text-align: left;
}
/*end*/

.CaptionMagnetic .thMagnetic { 
	font-family: Arial; font-size: 70%; text-align: left; vertical-align: top;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	background-image: url('Images/CaptionBg.gif'); color: #66752b;
	white-space: nowrap;
}


html>body .CaptionMagnetic .thMagnetic {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}


/*ie6*/
* html body .CaptionMagnetic .thMagnetic {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}
/*end*/

.RowMagnetic .thMagnetic { 
	font-family: Arial; font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	background-color: #eef1e2; color: #4e5920;
	white-space: nowrap;
	color: #4e5920;
}

.AltRowMagnetic .thMagnetic { 
	font-family: Arial; font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	background-color: #eef1e2; color: #4e5920;
	white-space: nowrap;
	color: #4e5920;
}

.ControlsMagnetic .thMagnetic { 
	font-family: Arial; font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	background-color: #eef1e2; color: #4e5920;
	white-space: nowrap;
	color: #4e5920;
}

.GroupCaptionMagnetic .thMagnetic {
	font-family: Arial; font-size: 70%;
	padding: 4px;
	border-bottom: solid 2px #c9cb79;
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	font-weight: bold;
	background-color: #e6eacc; 
	color: #4e5920;
}


html>body .GroupCaptionMagnetic .thMagnetic {
	font-family: Arial; font-size: 100%;
}

html>body .RowMagnetic .thMagnetic, html>body .AltRowMagnetic .thMagnetic, html>body .ControlsMagnetic .thMagnetic {
	font-family: Arial; font-size: 100%; font-weight: normal; text-align: left; vertical-align: top;
}


/*ie6*/
* html body .GroupCaptionMagnetic .thMagnetic {
	font-family: Arial; font-size: 100%;
}

* html body .RowMagnetic .thMagnetic, * html body .AltRowMagnetic .thMagnetic, * html body .ControlsMagnetic .thMagnetic {
	font-family: Arial; font-size: 100%; font-weight: normal; text-align: left; vertical-align: top;
}
/*end*/

/* Class for Application Builder Menu */
.simpleMenuMagnetic td {
	font-family: Arial; font-size: 70%;
}


html>body .simpleMenuMagnetic td {
	font-family: Arial; font-size: 100%;
} 


/*ie6*/
* html body .simpleMenuMagnetic td {
	font-family: Arial; font-size: 100%;
} 
/*end*/
